{% extends 'layout.html' %}

{% block title %}Смена электронной почты{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h2>Смена электронной почты</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
        {% if flag %}
            <ul><li class="errorlist">Вы ввели неправильный пароль</li></ul>
        {% endif %}
      <button type="submit" class="btn btn-primary">Change Password</button>
        <a class="btn btn-primary" href="{% url 'profile' %}">Назад к профилю</a>
    </form>
  </div>
{% endblock %}
